.hero {
    position: relative;
    width: 100vw;
    height: 86.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero::before { /* ensures that styling only happens to hero before text */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/hero-image.png) no-repeat center/cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(75%);
}
.hero-content {
    position: relative;
    text-align: center;
    margin: .625rem;
}
.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin: 11rem 0 0 0;
    color: #f76c6c;
}
.hero-button {
    background-color: #dfbc6b;
    border: none;
    border-radius: .25rem;
    margin: 6rem 0 3rem 0;
    padding: 1rem 2rem;
    font-size: 1.125rem;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.hero-button:hover {
    background-color: white;
}
.hero-subtitle {
    font-size: 2rem;
    font-weight: 300;
    margin: 1.5rem 0 18.5rem 0;
    color: #a8d0e6;
}