.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.25rem;
}
.nav-container .link-pages{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}